<!DOCTYPE html>
<html ng-app="strainKeeper">
  <head>
    <title>Strain Keeper</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" href="style.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/checklist-model/0.10.0/checklist-model.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-controller="mainController as main">
    <nav>
      <h1>Strain Keeper</h1>
    </nav>
    <main>

      <!-- INTRO -->
      <p><span>Welcome to Strain Keeper</span> - Your way to keep track of the many
        different cannabis strains that you have tried and how you feel about each
        strain.
      </p>

      <!-- ADD NEW STRAIN BUTTON TRIGGERS MODAL -->
      <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
        Add New Strain
      </button>

      <!-- MODAL -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Strain Information</h4>
            </div>
            <div class="modal-body">

              <!-- NEW STRAIN FORM -->
              <form>
                <div>
                <label>Type:</label>
                  <input type="radio" value="Sativa" ng-model="main.type">&nbsp Sativa &nbsp
                  <input type="radio" value="Hybrid" ng-model="main.type">&nbsp Hybrid &nbsp
                  <input type="radio" value="Indica" ng-model="main.type">&nbsp Indica &nbsp
                </div>
                <div>
                <label>Name</label>
                <input type="text" ng-model="main.strain" placeholder="Enter strain name..."></input>
                </div>
                <div>
                <label>Rating</label>
                <select ng-model="main.rating">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                </div>
                <div>
                  <label>Check all positive and negative effects:</label>
                </div>
                <h5>Positive:</h5>
                <div class="effects" ng-repeat="effect in main.effects">
                  <input type="checkbox" checklist-model="main.goodEffects" checklist-value="effect"> {{ effect }}
                </div>
                <h5 class="neg">Negative:</h5>
                <div class="effects" ng-repeat="negEffect in main.negEffects">
                  <input type="checkbox" checklist-model="main.badEffects" checklist-value="negEffect"> {{ negEffect }}
                </div>
              </form>
              <!-- END STRAIN FORM -->

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" ng-click="main.addStrain()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END MODAL -->

    <!-- SEARCH AND FILTER THROUGH YOUR STRAINS -->
    <div class="strainList">
      <h2>My Strains:</h2>
      <input type="text" placeholder="Search by name..." ng-model="main.strainFilter.name">
      <p> or </p>
      <input type="text" placeholder="Search by positive effects..." ng-model="main.strainFilter.goodEffects">
      <ul>
        <li id="All" ng-model="main.strainFilter.type" ng-class="{active: main.typeFilter == 1}" ng-click="main.setActive($event)">ALL</li>
        <li id="Sativa" ng-model="main.strainFilter.type" ng-class="{active: main.typeFilter == 2}" ng-click="main.setActive($event)">SATIVA</li>
        <li id="Hybrid" ng-model="main.strainFilter.type" ng-class="{active: main.typeFilter == 3}" ng-click="main.setActive($event)">HYBRID</li>
        <li id="Indica" ng-model="main.strainFilter.type" ng-class="{active: main.typeFilter == 4}" ng-click="main.setActive($event)">INDICA</li>
      </ul>
    </div>

    <!-- STRAIN ITEM  -->
    <div class='strain' ng-show="main.isThereStrains" ng-repeat="strain in main.strainArray | filter:main.strainFilter">
      <div class="strainHead">
        <h1>{{ strain.name }}</h1>
        <h3>{{ strain.type }}</h3>
      </div>

      <!-- RATING -->
      <img src='cannabis1.svg' ng-show="strain.rating > 0">
        <img src='cannabis1.svg' ng-show="strain.rating > 1">
          <img src='cannabis1.svg' ng-show="strain.rating > 2">
            <img src='cannabis1.svg' ng-show="strain.rating > 3">
              <img src='cannabis1.svg' ng-show="strain.rating > 4">

      <!-- EFFECTS DIV INSIDE STRAIN ITEM -->
      <div class='eff'>
        <h5>The Good:</h5>
        <aside ng-repeat="goodEffect in strain.goodEffects">{{ goodEffect }}</aside>
        <h5 class='neg'>The Bad:</h5>
        <aside ng-repeat="badEffect in strain.badEffects">{{ badEffect }}</aside>
      </div>
    </div>
    </main>
  </body>
</html>
