body {
  text-align: center;
  /*background-image: url('cannabis2.svg');*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
}

nav {
  background-color: #449D44;
  color: white;
  height: 50px;
}

nav h1 {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}

.intro {
  padding: 5px;
}

.intro span {
  font-size: 150%;
  font-family: 'Permanent Marker', cursive;
  color: #449D44;
}

h2 {
  color: #449D44;
  text-align: left;
  margin-left: 15px;
}

.modal-title {
  padding: 0;
}

.strain {
  color: white;
  /*background-color: rgb(251,79,20);*/
  border-radius: 15px;
  /*width: 90%;*/
  box-sizing: border-box;
  margin: 5px auto;
  padding: 10px;
  text-align: left;
  position: relative;
  width: 320px;
  /*height: 200px;*/
  font-family: 'Permanent Marker', cursive;
  box-shadow: 0 4px 8px 0 rgba(0, 0 , 0, 0.3), 0 6px 20px 0
	rgba(0, 0, 0, 0.19);
}

.green {
  background-color: #449D44;
}

.grad {

  background: #449D44; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #449D44 , purple); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #449D44, purple); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #449D44, purple); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #449D44 , purple); /* Standard syntax */
}

.indi {
  background-color: purple;
}


label {
  margin: 10px;
}

img {
  width: 40px;
  margin: -5px;
}

.strain h1, .strain h3 {
  margin-top: 5px;
}

.effects {
  display: inline-block;
  margin: 10px;
}

h5 {
  margin: 0;
  color: #449D44;
  border-bottom: solid 1px #449D44;
  font-family: 'Permanent Marker', cursive;
}

.eff {
  position: absolute;
  top: 0;
  right: 10px;
  color: white;
  text-align: center;
}

.strain h5 {
  color: white;
  margin-top: 5px;
  margin-bottom: 4px;
  padding-bottom: 2px;
  border-bottom: solid 1px blue;
}

.neg {

  color: red;
  border-bottom: solid 1px red;
}

.strainList input {
  width: 80%;
}

.strainList ul {
  list-style-type: none;
  padding: 0;
}

.strainList li {
  display: inline-block;
  border-bottom: solid 2px #449D44;
  color: #449D44;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: all 1s;
}

.strainList li:hover, .strainList .active {
  border-bottom: solid 2px red;
}

.strainHead {
  width: 75%;
}

.strainList p {
  margin: 5px;
  color: #449D44;
  font-family: 'Permanent Marker', cursive;
}

.myFont {
  font-family: 'Permanent Marker', cursive;
  color: #449D44;
}

.triangle {
  height: 0;
  width: 0;
  border-bottom: solid 20px black;
  border-left: solid 20px white;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.new-strain {
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 15px;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #449D44;
}

.edit-strain {
  color: black;
  padding: 15px;
}

.edit-strain h3 {
  margin-left: 10px;
  display: inline-block;
  clear: both;
}

.edit-strain h2, .edit-strain h4, .edit-strain h1 {
  margin: 0;
}

.modal-header input {
  height: 40px;
  width: 200px;
  font-size: 150%;
}

.edit-effects {
  text-align: center;
}

.edit-effects h5 {
  color: black;
}

.modal-header, .modal-body {
  margin: 0;
  padding: 5px;
}

.trash {
  width: 50px;
  float: right;
  cursor: pointer;
}

.edit-effects {
  float: left;
  margin-right: 20%;
  margin-bottom: 10px;
}

.edit-effects span {
  display: block;
}

.plusRate {
  width: 15px;
}

.twit {
  display: block;
  clear: both;
}

.twit h4 {
  margin: 10px;
}

@media all and (min-width: 615px){
  .strain {
    display: inline-block;
    margin: 5px 5px;
  }
}
