body {
  text-align: center;
}

nav {
  background-color: #449D44;
  color: white;
  height: 50px;
}

nav h1 {
  margin: 0;
  font-family: 'Permanent Marker', cursive;

}

.user {
  width: 70%;
  margin: auto;
  padding-top: 5px;
  max-width: 693px;
  text-align: left;
}

.user h2 {
  padding-bottom: 5px;
  padding-left: 100px;
  border-bottom: solid 3px blue;
}

.profile-pic {
  width: 100px;
  border-radius: 15px;
  float: left;
  margin-left: -6px;
}

.links {
 width: 95%;
 margin: auto;
 clear: left;
}

.links a {
  font-size: 130%;
  padding: 10px;
}

.intro {
  padding: 5px;
}

.t-shadow {
  text-shadow: 1px 1px 1px black;
}

.intro span {
  font-size: 150%;
  font-family: 'Permanent Marker', cursive;
  color: #449D44;
}

.modal-title {
  padding: 0;
}

.strain {
  color: white;
  /*background-color: rgb(251,79,20);*/

  border-radius: 15px;
  /*width: 90%;*/
  box-sizing: border-box;
  margin: 5px auto;
  padding: 10px;
  text-align: left;
  position: relative;
  width: 320px;
  /*height: 200px;*/
  font-family: 'Permanent Marker', cursive;
  box-shadow: 0 4px 8px 0 rgba(0, 0 , 0, 0.3), 0 6px 20px 0
	rgba(0, 0, 0, 0.19);
}

.green {
  background-color: #449D44;
}

label {
  margin: 10px;
}

.strain-img {
  width: 30%;
  margin-right: 5px;
  max-height: 75px;
  border-radius: 5px;
  cursor: pointer;
}

.rating {
  width: 40px;
  margin: -5px;
}

.strain h1, .strain h3 {
  margin-top: 5px;
}

.strain h3 {
  display: inline-block;
}

.effects {
  display: inline-block;
  margin: 10px;
}

h5 {
  margin: 0;
  color: #449D44;
  border-bottom: solid 1px #449D44;
  font-family: 'Permanent Marker', cursive;
}

.eff {
  position: absolute;
  top: 0;
  right: 10px;
  color: white;
  text-align: center;
}

.eff-head {
  color: white;
  margin-top: 5px;
  margin-bottom: 4px;
  padding-bottom: 2px;
  border-bottom: solid 1px blue;
}

.neg {

  color: red;
  border-bottom: solid 1px red;
}

.strainList {
  margin-top: 20px;
  clear: both;
}

.strainList input {
  display: inline-block;
  width: 80%;
}

.strainList button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Permanent Marker', cursive;
  width: 250px;
}

.strainList ul {
  list-style-type: none;
  padding: 0;
}

.strainList li {
  display: inline-block;
  border-bottom: solid 2px #449D44;
  color: #449D44;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: all 1s;
}

.strainList li:hover, .strainList .active {
  border-bottom: solid 2px red;
}

.strainHead {
  width: 75%;
}

.myFont {
  font-family: 'Permanent Marker', cursive;
}

.triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  padding: 5px;
}

.triangle img {
  border-bottom-right-radius: 15px;
}

.strain-foot {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  transition: all 1s;
}

.strain-foot:hover {
  color: #2A7FFF;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #449D44;
}

.edit-strain {
  color: black;
  padding: 15px;
}

.edit-strain h3 {
  margin-left: 10px;
  display: inline-block;
  clear: both;
}

.edit-strain h2, .edit-strain h4, .edit-strain h1 {
  margin: 0;
}

.modal-header input {
  height: 40px;
  width: 200px;
  font-size: 150%;
}

.edit-effects {
  text-align: center;
}

.text-green {
  color: #449D44;
}

.text-red {
  color: red;
}

.modal-header, .modal-body {
  margin: 0;
  padding: 5px;
}

.trash {
  width: 50px;
  float: right;
  cursor: pointer;
}

.edit-effects {
  /*float: left;*/
  /*margin-right: 20%;*/
  margin-bottom: 10px;
}

.edit-effects span {
  display: block;
}

.margin-center {
  margin: auto;
}

.data-report {
  position: relative;
  max-width: 375px;
}

.data-report img {
  width: 100%;

}

.data-report h4 {
  color: black;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 5px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.report-info {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: black;
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.report-info h6 {
  margin: 0;
}

.loading {
  display: inline-block;
  background-color: black;
  width: 50%;
  border-radius: 15px;
  top: 25%;
  left: 25%;
  z-index: 10000;
  position: absolute;

}

@media all and (min-width: 627px){
  .strain {
    display: inline-block;
    margin: 5px 5px;
  }

  .data-report h4 {
    font-size: 250%;
  }

  .report-info h6, .report-info a {
    font-size: 125%;
  }

  .zoom {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  }

  .zoom:hover,
  .zoom:active,
  .zoom:focus {
  /**adjust scale to desired size,
  add browser prefixes**/
  -ms-transform: scale(2.95);
  -moz-transform: scale(2.95);
  -webkit-transform: scale(2.95);
  -o-transform: scale(2.95);
  transform: scale(2.95);
  position:relative;
  margin-top: 25px;
  margin-left: 70px;
  z-index:100;
  }

  .links {
    clear: none;
    text-align: left;
  }
}

@media all and (min-width: 1005px){
  .new-strain {
    margin: 0 100px;
  }
}
