body {
  text-align: center;
  font-size: 11px;
  min-width: 320px;
}

.log-head {
  margin-top: 0;
  padding-top: 5px;
  text-decoration: underline;
}

.search-filter{

}

.mission {
  margin: 15px;
  font-size: 125%;
}

.get-started {
  display: inline-block;
  background-color: #449D44;
  border-radius: 5px;
  color: white;
  font-family: 'Michroma', cursive;
  box-sizing: border-box;
  margin: 5px 15px;
  padding: 10px;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0 , 0, 0.3), 0 6px 20px 0
	rgba(0, 0, 0, 0.19);
}

.get-started:hover {
  color: white;
  text-decoration: none;
}

.home-head {
  margin: 10px;
}

.home-card-head {
  /*height: 78px;*/
  text-align: center;
  font-size: 21px;
}

.display-strain-pic {
  height: 75px;
  border-radius: 5px;
  position: absolute;
  right: 20px;
}

.home-report-link {
  display: block;
  text-align: center;
  position: relative;
  bottom: 5px;
}

.barchart {
  display: inline-block;
  height: 110px;
}

.chart-spot {
    width: 215px;
    padding: 1px 1px 1px 5px;
    margin: 0;
}

.chart-bar {

  background-color: #2A7FFF;
  color: white;
  white-space: nowrap;
  font-family: sans-serif;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding-left: 5px;

}

.red {
  background-color: red;
}

.add-strain {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 5px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 5px;
  background-color: white;
  color: black;
}

.add-strain:hover {
  cursor: pointer;
}

nav {
  background-color: #449D44;
  color: white;
  height: 95px;
}

nav h1 {
  margin: 0;
  font-family: 'Michroma', cursive;

}

.user {
  width: 70%;
  margin: auto;
  padding-top: 5px;
  max-width: 693px;
}

.user h2 {
  padding-bottom: 5px;
  border-bottom: solid 3px #2A7FFF;
}

.profile-pic {
  width: 150px;
  border-radius: 15px;
  margin: 10px 0;
}

.filter-drop {
  color: #999;
  width: 80%;
  font-size: 125%;
  margin: 10px;
}

.form-group {
 margin: 15px;
}

.form-control {
  border: none;
  box-shadow: none;
}

.little-blurb {
  margin: 10px 10px;
  font-size: 125%;
}

.links {
 margin: auto;
 clear: both;
}

.links a {
  font-size: 130%;
  padding: 10px;
}

.intro {
  padding: 5px;
  font-size: 130%;
}

.strain a {
  color: #f46b6b;
}

#nav-menu {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 200%;
}

#nav-bar-links {
    display: none;
}

.show {
    display: inline-block;
}

.t-shadow {
  text-shadow: 1px 1px 3px black;
}

.intro span {
  font-size: 120%;
  font-family: 'Michroma', cursive;
  color: #449D44;
}

.modal-title {
  padding: 0;
}

.strain {
  color: white;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 5px auto;
  padding: 8px;
  text-align: left;
  position: relative;
  width: 310px;
  height: 198px;
  font-family: 'Michroma', cursive;
  box-shadow: 0 4px 8px 0 rgba(0, 0 , 0, 0.3), 0 6px 20px 0
	rgba(0, 0, 0, 0.19);
}

h1 {
  font-size: 25px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 14px;
}

.green {
  background-color: #449D44;
}



label {
  margin: 10px;
}

.strain-img {
  width: 30%;
  margin-right: 5px;
  height: 75px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.rating {
  width: 40px;
  margin: -5px;
}

.strain h1, .strain h3 {
  margin-top: 5px;
}

.strain h3 {
  display: inline-block;
}

.effects {
  display: inline-block;
  margin: 10px;
}

h5 {
  margin: 0;
  color: #449D44;
  border-bottom: solid 1px #449D44;
  font-family: 'Michroma', cursive;
}

.eff {
  position: absolute;
  top: 0;
  right: 10px;
  color: white;
  text-align: center;
}

.eff-head {
  color: white;
  margin-top: 5px;
  margin-bottom: 4px;
  padding-bottom: 2px;
  border-bottom: solid 1px #2A7FFF;
}

.neg {

  color: red;
  border-bottom: solid 1px red;
}

.strainList {
  margin-top: 10px;
  clear: both;
}

.strainList input {
  display: inline-block;
  width: 80%;
}

.strainList button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Michroma', cursive;
  width: 250px;
}

.strainList ul {
  list-style-type: none;
  padding: 0;
}

.strainList li {
  display: inline-block;
  border-bottom: solid 2px #449D44;
  color: #449D44;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: all 1s;
}

.strainList li:hover, .strainList .active {
  border-bottom: solid 2px red;
}

.strainHead {
  height: 136px;
  margin-right: 85px;
}

.myFont {
  font-family: 'Michroma', cursive;
}

.triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  padding: 5px;
}

.triangle img {
  border-bottom-right-radius: 15px;
}

.strain-foot {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  transition: all 1s;
}

.strain-foot:hover {
  color: #2A7FFF;
}

.input {
    border: none;
    border-bottom: 2px solid #449D44;
}

.edit-strain {
  color: black;
  padding: 15px;
}

.edit-strain h3 {
  margin-left: 10px;
  display: inline-block;
  clear: both;
}

.edit-strain h2, .edit-strain h4, .edit-strain h1 {
  margin: 0;
}

h2 {
  font-size: 20px;
}

.modal-header input {
  height: 40px;
  width: 200px;
  font-size: 150%;
}

.edit-effects {
  text-align: center;
}

.text-green {
  color: #449D44;
}

.text-blue {
  color: #2A7FFF;
}

.text-red {
  color: red;
}

.modal-header, .modal-body {
  margin: 0;
  padding: 5px;
}

.trash {
  width: 50px;
  float: right;
  cursor: pointer;
}

.edit-effects {
  /*float: left;*/
  /*margin-right: 20%;*/
  margin-bottom: 10px;
}

.edit-effects span {
  display: block;
}

.margin-center {
  margin: auto;
}

.data-report {
  position: relative;
  max-width: 375px;
}

.data-report img {
  width: 100%;

}

.data-report h4 {
  color: black;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 5px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.report-info {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: black;
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.report-info h6 {
  margin: 0;
}

.loading {
  text-align: center;
  display: inline-block;
  background-color: black;
  opacity: 0.7;
  width: 400px;
  border-radius: 15px;
  top: 25%;
  margin-left:-200px;
  left:50%;
  position: absolute;
  z-index: 100000000;

}

.load-gif {
  margin: auto;
}

.screenshot {
  width: 75%;
}

.log-in {
  background-color: #449D44;
  color: white;
  border-radius: 15px;
  display: inline-block;
  width: 90%;
  margin: auto;
  padding: 5px 15px 15px 15px;
}

.log-in h4 {
  margin: 5px;
}

.log-info {
  background-color: #449D44;
}

.log-sec {
  display: inline-block;
  width: 80%;
  border-radius: 15px;
  margin: 10px 0;
  padding: 10px;
  background-color: white;
}

.right-align {
  text-align: right;
}

.screen-flash {
  width: 100%;
  height: 1400px;
  color: white;
  padding-top: 370px;
  margin-top: -320px;
  background-color: #449D44;
  position: fixed;
  z-index: 3;
  transition: all 1s;
}

.screen-flash h2 {
  font-family: cursive;
  margin: 0 15px;
  font-size: 400%;
}

.screen-flash img {
  width: 75%;
  max-width: 600px;
  border-radius: 5px;

}

.screen-fade {
  opacity: 0;
  z-index: -1;
}

@media all and (min-width: 627px){
  .strain {
    display: inline-block;
    margin: 5px 5px;
  }

  .data-report h4 {
    font-size: 250%;
  }

  .report-info h6, .report-info a {
    font-size: 125%;
  }


}

@media all and (min-width: 1005px){
  .new-strain {
    margin: 0 100px;
  }
}
