<main>
  <h1 class="text-blue myFont">Explore Strain Database</h1>
  <p class="mission">
    Each card represents a strain a user has added to their keeper. If two or more
    users add the same strain, the rating and effects are merged and calculated. The card
    displays the average rating, a link to its report from cannabisreports.com,
    and the top five effects chosen by our users. You can add strains directly from the
    database if you are logged-in.
  </p>
  <a class="get-started" href="#/home">Return Home</a><a class="get-started" href="#/profile">Go to My Strains</a>

  <div class="strainList">
    <div class="search-filter">
      <input class="input" type="text" placeholder="Search by name..." ng-model="home.strainFilter.name">
      <select class="input filter-drop" ng-model="home.effectFilter">
        <option value="" disabled selected>Sort by effect</option>
        <option value="">Sort by Rating</option>
        <option value="Uplifting">Uplifting</option>
        <option value="Hungry">Hungry</option>
        <option value="Energetic">Energetic</option>
        <option value="Relaxed">Relaxed</option>
        <option value="Creative">Creative</option>
        <option value="Flavorful">Flavorful</option>
        <option value="Dry Mouth">Dry Mouth</option>
        <option value="Dry Eyes">Dry Eyes</option>
        <option value="Anxiety">Anxiety</option>
        <option value="Lazy">Lazy</option>
        <option value="Tired">Tired</option>
        <option value="Foggy">Foggy</option>
      </select>
    </div>
    <ul>
      <li id="All" ng-model="home.strainFilter.type" ng-class="{active: home.typeFilter == 1}" ng-click="home.setActive($event)">ALL</li>
      <li id="Sativa" ng-model="home.strainFilter.type" ng-class="{active: home.typeFilter == 2}" ng-click="home.setActive($event)">SATIVA</li>
      <li id="Hybrid" ng-model="home.strainFilter.type" ng-class="{active: home.typeFilter == 3}" ng-click="home.setActive($event)">HYBRID</li>
      <li id="Indica" ng-model="home.strainFilter.type" ng-class="{active: home.typeFilter == 4}" ng-click="home.setActive($event)">INDICA</li>
    </ul>
  </div>
  <div class='strain green' ng-repeat="strain in home.exploreStrains | filter: home.strainFilter | orderBy: home.dynamicOrder()">
    <h1 class="home-card-head t-shadow">{{ strain.name }}</h1>
    <h4 class="t-shadow">Rating - {{ strain.avgRating }} &nbsp;&nbsp;&nbsp; {{ strain.type }} </h4>
    <img class="display-strain-pic" ng-srcset="{{ strain.image }}">
    <table class="barchart t-shadow">
      <tr ng-repeat="effect in strain.effectsArray | orderBy: '-percent' | limitTo: 5" ng-show="effect.value > 0">
        <td class="right-align">{{ effect.effectName }}</td>
        <td class="chart-spot"><div class="chart-bar" style="width: {{ effect.percent }}%" ng-class="{red: effect.isBad }">{{ effect.percent }}% </div></td>
      </tr>
    </table>
    <a class="home-report-link t-shadow" href="{{ strain.dataUrl }}" target="_blank">Read the Cannabis Report</a>
    <span class="add-strain" data-toggle="modal" data-target="#modal{{ strain._id }}" ng-if="home.isThereUser">Add</span>
    <!-- ADDITIONAL INFO MODAL -->
    <div class="modal fade" id="modal{{ strain._id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content edit-strain">
          <div class="modal-header">
            <!-- EDIT STRAIN NAME -->
            <h1 class="modal-title myFont" id="myModalLabel">{{ strain.name }}</h1>

            <!-- EDIT STRAIN TYPE -->
            <h2> - {{strain.type}}</h2>
          </div>
          <div class="modal-body">
            <div class="text-green">
            <!-- EDIT STRAIN RATING -->
            <h3>Rating : </h3><h3 ng-if="!home.editingRating" ng-click="home.hideText($event, $index)">{{home.strainFromDB.rating}}</h3>
            <select name="rating" ng-model="home.strainFromDB.rating" ng-if="home.editingRating" ng-blur="home.blurText($event)">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
            <!-- EDIT STRAIN EFFECTS -->
            <div class="edit-effects">
                <h5 class="text-green">Positive:</h5>
                <div class="effects" ng-repeat="effect in home.effects">
                  <input type="checkbox" checklist-model="home.strainFromDB.goodEffects" checklist-value="effect"> {{ effect }}
                </div>
                <h5 class="neg">Negative:</h5>
                <div class="effects" ng-repeat="negEffect in home.negEffects">
                  <input type="checkbox" checklist-model="home.strainFromDB.badEffects" checklist-value="negEffect"> {{ negEffect }}
                </div>
            </div>

            <div class="data-report margin-center">
              <h4>{{ strain.dataName }}</h4>
              <img ng-srcset="{{ strain.image }}">
              <div class="report-info">
                <h6>There are {{ strain.reviewCount }} reviews online</h6>
                <a href="{{strain.dataUrl}}" target="_blank">Read the Cannabis Report</a>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cancel
            </button>
            <button type="button" class="btn btn-success"
             ng-click="home.addFromDB(strain.name, strain.type, strain.dataName, strain.dataUrl, strain.image, strain.reviewCount, strain._id)">
             Add to My Strains
          </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END MODAL -->
  </div>
</main>
