<main>
  <h1 class="text-blue myFont">Explore all strains</h1>
  <a class="get-started" href="#/home">Return Home</a><a class="get-started" href="#/profile">My Strains</a><br>
  <div class='strain green' ng-repeat="strain in home.exploreStrains">
    <h1 class="home-card-head t-shadow">{{ strain.name }}</h1>
    <h4 class="t-shadow">Rating - {{ strain.avgRating }} &nbsp;&nbsp;&nbsp; {{ strain.type }} </h4>
    <img class="display-strain-pic" ng-srcset="{{ strain.image }}">
    <table class="barchart t-shadow">
      <tr ng-repeat="effect in strain.effectsArray | orderBy: '-percent' | limitTo: 5" ng-show="effect.value > 0">
        <td class="right-align">{{ effect.effectName }}</td>
        <td class="chart-spot"><div class="chart-bar" style="width: {{ effect.percent }}%" ng-class="{red: effect.isBad }">{{ effect.percent }}% </div></td>
      </tr>
    </table>
    <a class="t-shadow home-report-link" href="{{ strain.dataUrl }}">Read the Cannabis Report</a>
  </div>
</main>
