<main>
  <h1>Explore all the fucking strains</h1>
  <div class='strain green' ng-repeat="strain in home.homeStrains">
      <h1 class="home-card-head t-shadow">{{ strain.name }}</h1>
      <!-- <h3 class="t-shadow">Avg. Rating: {{ strain.avgRating }}</h3> -->

      <table class="barchart t-shadow">
          <tr>
            <!-- <th>Happy: </th> -->
            <td><div style="width: {{(strain.goodEffectsValues.happy/strain.goodEffectsVotes)*100}}%">Happy</div></td>
          </tr>
          <tr>
            <!-- <th>Hungry: </th> -->
            <td><div style="width: {{(strain.goodEffectsValues.hungry/strain.goodEffectsVotes)*100}}%">Hungry</div></td>
          </tr>
          <tr>
            <!-- <th>Energetic: </th> -->
            <td><div style="width: {{(strain.goodEffectsValues.energetic/strain.goodEffectsVotes)*100}}%">Energetic</div></td>
          </tr>
          <tr>
            <!-- <th>Relaxed: </th> -->
            <td><div style="width: {{(strain.goodEffectsValues.relaxed/strain.goodEffectsVotes)*100}}%">Relaxed</div></td>
          </tr>
          <tr>
            <!-- <th>Creative: </th> -->
            <td><div style="width: {{(strain.goodEffectsValues.creative/strain.goodEffectsVotes)*100}}%">Creative</div></td>
          </tr>
          <tr>
            <!-- <th>Flavorful: </th> -->
            <td><div style="width: {{(strain.goodEffectsValues.flavorful/strain.goodEffectsVotes)*100}}%">Flavorful</div></td>
          </tr>
        </table>

        <table class="barchart t-shadow neg-barchart">
            <tr>
              <!-- <th>Happy: </th> -->
              <td><div style="width: {{(strain.badEffectsValues.dryMouth/strain.badEffectsVotes)*100}}%">Dry Mouth</div></td>
            </tr>
            <tr>
              <!-- <th>Hungry: </th> -->
              <td><div style="width: {{(strain.badEffectsValues.redEyes/strain.badEffectsVotes)*100}}%">Red Eyes</div></td>
            </tr>
            <tr>
              <!-- <th>Energetic: </th> -->
              <td><div style="width: {{(strain.badEffectsValues.paranoid/strain.badEffectsVotes)*100}}%">Paranoid</div></td>
            </tr>
            <tr>
              <!-- <th>Relaxed: </th> -->
              <td><div style="width: {{(strain.badEffectsValues.anxious/strain.badEffectsVotes)*100}}%">Anxious</div></td>
            </tr>
            <tr>
              <!-- <th>Creative: </th> -->
              <td><div style="width: {{(strain.badEffectsValues.tired/strain.badEffectsVotes)*100}}%">Tired</div></td>
            </tr>
            <tr>
              <!-- <th>Flavorful: </th> -->
              <td><div style="width: {{(strain.badEffectsValues.foggy/strain.badEffectsVotes)*100}}%">Foggy</div></td>
            </tr>
          </table>



</div>
</main>
