<main>
    <!-- INTRO  -->
     <p class="intro"><span>Welcome to Strain Keeper</span> - Your way to keep track of the many
      different cannabis strains that you have tried and how you feel about each
      strain.
     </p>
     <h4 class="home-head text-blue myFont">Click button below to start tracking your strains</h4>
     <a class="get-started" href="#/login">Get Started</a>
     <h4 class="home-head text-blue myFont">Explore the different strains our users have tried and see their effects</h4>
      <!-- STRAIN ITEM  -->
      <div class='strain green' ng-repeat="strain in home.displayStrains track by $index">
          <h1 class="home-card-head t-shadow">{{ strain.name }}</h1>
          <!-- <h3 class="t-shadow">Avg. Rating: {{ strain.avgRating }}</h3> -->

          <table class="barchart t-shadow">
			    		<tr ng-show="strain.goodEffectsValues.happy > 0">
			    			<!-- <th>Happy: </th> -->
			    			<td><div style="width: {{strain.effectsPercentage.happy}}%">{{strain.effectsPercentage.happy}}% Happy</div></td>
			    		</tr>
			    		<tr ng-show="strain.goodEffectsValues.hungry > 0">
			    			<!-- <th>Hungry: </th> -->
			    			<td><div style="width: {{strain.effectsPercentage.hungry}}%">{{strain.effectsPercentage.hungry}}% Hungry</div></td>
			    		</tr>
			    		<tr ng-show="strain.goodEffectsValues.energetic > 0">
			    			<!-- <th>Energetic: </th> -->
			    			<td><div style="width: {{strain.effectsPercentage.energetic}}%">{{strain.effectsPercentage.energetic}}% Energetic</div></td>
			    		</tr>
			    		<tr ng-show="strain.goodEffectsValues.relaxed > 0">
			    			<!-- <th>Relaxed: </th> -->
			    			<td><div style="width: {{strain.effectsPercentage.relaxed}}%">{{strain.effectsPercentage.relaxed}}% Relaxed</div></td>
			    		</tr>
			    		<tr ng-show="strain.goodEffectsValues.creative > 0">
			    			<!-- <th>Creative: </th> -->
			    			<td><div style="width: {{strain.effectsPercentage.creative}}%">{{strain.effectsPercentage.creative}}% Creative</div></td>
			    		</tr>
              <tr ng-show="strain.goodEffectsValues.flavorful > 0">
			    			<!-- <th>Flavorful: </th> -->
			    			<td><div style="width: {{strain.effectsPercentage.flavorful}}%">{{strain.effectsPercentage.flavorful}}% Flavorful</div></td>
			    		</tr>
			    	</table>

            <table class="barchart t-shadow neg-barchart">
  			    		<tr ng-show="strain.badEffectsValues.dryMouth > 0">
  			    			<!-- <th>Happy: </th> -->
  			    			<td><div style="width: {{strain.effectsPercentage.dryMouth}}%">{{strain.effectsPercentage.dryMouth}}% Dry Mouth</div></td>
  			    		</tr>
  			    		<tr ng-show="strain.badEffectsValues.redEyes > 0">
  			    			<!-- <th>Hungry: </th> -->
  			    			<td><div style="width: {{strain.effectsPercentage.redEyes}}%">{{strain.effectsPercentage.redEyes}}% Red Eyes</div></td>
  			    		</tr>
  			    		<tr  ng-show="strain.badEffectsValues.paranoid > 0">
  			    			<!-- <th>Energetic: </th> -->
  			    			<td><div style="width: {{strain.effectsPercentage.paranoid}}%">{{strain.effectsPercentage.paranoid}}% Paranoid</div></td>
  			    		</tr>
  			    		<tr  ng-show="strain.badEffectsValues.anxious > 0">
  			    			<!-- <th>Relaxed: </th> -->
  			    			<td><div style="width: {{strain.effectsPercentage.anxious}}%">{{strain.effectsPercentage.anxious}}% Anxious</div></td>
  			    		</tr>
  			    		<tr  ng-show="strain.badEffectsValues.tired > 0">
  			    			<!-- <th>Creative: </th> -->
  			    			<td><div style="width: {{strain.effectsPercentage.tired}}%">{{strain.effectsPercentage.tired}}% Tired</div></td>
  			    		</tr>
                <tr ng-show="strain.badEffectsValues.foggy > 0">
  			    			<!-- <th>Flavorful: </th> -->
  			    			<td><div style="width: {{strain.effectsPercentage.foggy}}%">{{strain.effectsPercentage.foggy}}% Foggy</div></td>
  			    		</tr>
  			    	</table>



    </div>
    <div>
      <a href="#/explore">See more...</a>
    </div>


</main>
