    <main>

      <!-- INTRO -->
      <!-- <p class="intro"><span class="t-shadow">Welcome to Strain Keeper</span> - Your way to keep track of the many
        different cannabis strains that you have tried and how you feel about each
        strain.
      </p> -->
      <div class="user myFont">
        <img class="profile-pic" src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAfLAAAAJDc0ODJhYTc5LWJmMDYtNDgwMS05OWRiLWMxNzc4MWRjNzNjNA.jpg">
        <h2 class="text-green">Sean's Strains</h2>
      </div>
      <div class="links myFont">
        <a href="">My Strains</a> | <a href=''>Friends</a> | <a href=''>Explore</a>
      </div>

      <!-- SEARCH AND FILTER THROUGH YOUR STRAINS -->
      <div class="strainList">
        <input class="input" type="text" placeholder="Search by name..." ng-model="main.strainFilter.name">

        <!-- ADD NEW STRAIN BUTTON TRIGGERS MODAL -->
        <button type="button" class="btn btn-success btn-lg green new-strain t-shadow" data-toggle="modal" data-target="#myModal">
          Add New Strain
        </button>
        <input class="input" type="text" placeholder="Search positive effects..." ng-model="main.strainFilter.goodEffects">
        <!-- TYPE FILTERS -->
        <ul>
          <li id="All" ng-model="main.strainFilter.type" ng-class="{active: main.typeFilter == 1}" ng-click="main.setActive($event)">ALL</li>
          <li id="Sativa" ng-model="main.strainFilter.type" ng-class="{active: main.typeFilter == 2}" ng-click="main.setActive($event)">SATIVA</li>
          <li id="Hybrid" ng-model="main.strainFilter.type" ng-class="{active: main.typeFilter == 3}" ng-click="main.setActive($event)">HYBRID</li>
          <li id="Indica" ng-model="main.strainFilter.type" ng-class="{active: main.typeFilter == 4}" ng-click="main.setActive($event)">INDICA</li>
        </ul>
      </div>

      <!-- MODAL -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title myFont" id="myModalLabel">New Strain Information</h4>
            </div>
            <div class="modal-body">

              <!-- NEW STRAIN FORM -->
              <form>
                <div>
                <label>Type:</label>
                  <input type="radio" value="Sativa" ng-model="main.type">&nbsp Sativa &nbsp
                  <input type="radio" value="Hybrid" ng-model="main.type">&nbsp Hybrid &nbsp
                  <input type="radio" value="Indica" ng-model="main.type">&nbsp Indica &nbsp
                </div>
                <div>
                <label>Name</label>
                <input type="text" ng-model="main.strain" placeholder="Enter strain name..."></input>
                </div>
                <div>
                <label>Rating</label>
                <select ng-model="main.rating">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                </div>
                <div>
                  <label>How did this strain effect you?</label>
                </div>
                <h5>Positive: </h5>
                <div class="effects" ng-repeat="effect in main.effects">
                  <input type="checkbox" checklist-model="main.goodEffects" checklist-value="effect"> {{ effect }}
                </div>
                <h5 class="neg">Negative: </h5>
                <div class="effects" ng-repeat="negEffect in main.negEffects">
                  <input type="checkbox" checklist-model="main.badEffects" checklist-value="negEffect"> {{ negEffect }}
                </div>
              </form>
              <!-- END STRAIN FORM -->

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success green" ng-click="main.getData(main.strain)">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END MODAL -->



    <!-- STRAIN ITEM  -->
    <div class='strain green' ng-show="main.isThereStrains" ng-repeat="strain in main.userData.strainArray | filter: main.strainFilter track by $index">
      <div class="strainHead t-shadow">
        <h1>{{ strain.name }}</h1>
        <img class="strain-img zoom" ng-click="main.showInfo()" ng-srcset="{{ strain.image }}" data-toggle="modal" data-target="#modal{{ strain.strainId }}">
        <h3>- {{ strain.type }}</h3>
      </div>

      <!-- RATING -->
      <img class="rating" src='../resources/cannabis1.svg' ng-show="strain.rating > 0">
        <img class="rating" src='../resources/cannabis1.svg' ng-show="strain.rating > 1">
          <img class="rating" src='../resources/cannabis1.svg' ng-show="strain.rating > 2">
            <img class="rating" src='../resources/cannabis1.svg' ng-show="strain.rating > 3">
              <img class="rating" src='../resources/cannabis1.svg' ng-show="strain.rating > 4">


      <!-- EFFECTS DIV INSIDE STRAIN ITEM -->
      <div class='eff t-shadow'>
        <h5 class="eff-head">The Good:</h5>
        <aside ng-repeat="goodEffect in strain.goodEffects">{{ goodEffect }}</aside>
        <h5 class="eff-head">The Bad:</h5>
        <aside ng-repeat="badEffect in strain.badEffects">{{ badEffect }}</aside>
      </div>

      <span class="strain-foot t-shadow" data-toggle="modal" data-target="#modal{{ strain.strainId }}">EDIT /<br>MORE INFO -> </span>

      <!-- ADDITIONAL INFO MODAL -->
      <div class="modal fade" id="modal{{ strain.strainId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content edit-strain">
            <div class="modal-header">Click on the name/type/rating to edit <br>
              <!-- TRASH STRAIN ICON -->
              <img class="trash" src="../resources/trash.svg" ng-click="main.trashStrain($event)">
              <!-- EDIT STRAIN NAME -->
              <h1 class="modal-title myFont" id="myModalLabel" ng-if="!main.editingName" ng-click="main.hideText($event, $index)">{{ strain.name }}</h1>
              <input type="text" name="name" ng-model="strain.name" ng-if="main.editingName" ng-blur="main.blurText($event)">
              <!-- EDIT STRAIN TYPE -->
              <h2 ng-if="!main.editingType" ng-click="main.hideText($event, $index)"> - {{strain. type}}</h2>
              <input type="text" name="type" ng-model="strain.type" ng-if="main.editingType" ng-blur="main.blurText($event)">
            </div>
            <div class="modal-body">
              <div class="text-green">
              <!-- EDIT STRAIN RATING -->
              <h3>Rating : </h3><h3 ng-if="!main.editingRating" ng-click="main.hideText($event, $index)"> {{ strain.rating }}</h3>
              <select name="rating" ng-model="strain.rating" ng-if="main.editingRating" ng-blur="main.blurText($event)">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
              <!-- EDIT STRAIN EFFECTS -->
              <div class="edit-effects">
                  <h5 class="text-green">Positive:</h5>
                  <div class="effects" ng-repeat="effect in main.effects">
                    <input type="checkbox" checklist-model="strain.goodEffects" checklist-value="effect"> {{ effect }}
                  </div>
                  <h5 class="neg">Negative:</h5>
                  <div class="effects" ng-repeat="negEffect in main.negEffects">
                    <input type="checkbox" checklist-model="strain.badEffects" checklist-value="negEffect"> {{ negEffect }}
                  </div>
              </div>

              <div class="data-report margin-center">
                <h4>{{ strain.dataName }}</h4>
                <img ng-srcset="{{ strain.image }}">
                <div class="report-info">
                  <h6>There are {{ strain.reviewCount }} reviews online</h6>
                  <a href="{{strain.dataUrl}}">Read the Cannabis Report</a>
                </div>
              </div>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-click="main.sortAndSave()" data-dismiss="modal">Done</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END MODAL -->

    </div>
      <div class="loading" ng-if="main.loading">
        <img src="http://giphy.com/gifs/marijuana-pot-photobucket-nNXIr4vMUYkKI" dynsrc="http://giphy.com/gifs/marijuana-pot-photobucket-nNXIr4vMUYkKI" loop="infinite">
      </div>
    </main>
