<!DOCTYPE html>
<html ng-app="strainKeeper">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/checklist-model/0.10.0/checklist-model.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="/js/module.strainkeeper.js"></script>
    <script src="/js/login.controller.js"></script>
    <script src="/js/factory.user-info.js"></script>

  </head>
  <body ng-controller="loginController as login">
    <div>
      {{ login.greeting }}
      <h4>Log-in</h4>
      <form ng-submit="login.auth()">
        <input type="email" ng-model="login.email"placeholder="Enter email">
        <input type="password" ng-model="login.password"placeholder="Password">
        <input type="submit">
    </form>
    </div>
    <div>
      <h4>Register</h4>
      <form ng-submit="login.register()">
        <input type="text" ng-model="login.newUser.username" placeholder="Enter username">
        <input type="email" ng-model="login.newUser.email" placeholder="Enter email">
        <input type="password" ng-model="login.newUser.password" placeholder="Password">
        <input type="submit">
    </form>
    </div>

  </body>
</html>
